<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Pavlo Skyba</h1>
        <h3>Cybersecurity Student</h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="https://www.linkedin.com/in/pavlo-skyba-6755281ab/" target="_blank" class="">
            <img src="LinkedIn_logo_initials.png" width="24" height="24" class="rounded-circle me-2">
        </a>
    
        <a href="https://github.com/t3nta" target="_blank" class="">
            <img src="githubpic.png" width="24" height="24" class="rounded-circle me-2">
        </a>
    </div>
</div>